nav{
  height: 10vh;
  width: 100vw;
  text-align: center;
  font-size: 45px;
}

footer{
  border-top: red 2px solid;
  width: 100vw;
  text-align: center;
}

title{
  font-weight: bold;
}

.title:hover{
  cursor: pointer;
}

.red-letter{
  color: red;
}

.blue-letter{
  color: blue;
}

.green-letter{
  color: green;
}

.yellow-letter{
  color: yellow;
}