table {
    margin-top: 20px;
    border-spacing: 5px;
}

#header{
    font-size: 30px;
    height: 10vh;
}

.deleteTd{
    background-color: gray;
    border: 5px solid gray;
}

#thead {
    background-color: lightgreen;
    font-weight: bold;
}

td {
    height: 20px;
    width: 180px;
    text-align: center;
}

.td-top-left {
    border: 2px solid lightgreen;
    border-top-left-radius: 20px;
}

.td-top-right {
    border: 2px solid lightgreen;
    border-top-right-radius: 20px;
}